<%include file="HEADER-UNAUTH.tmpl"/>
<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form action="/auth/login" method="POST">
      <img class="mb-4" src="${docroot}/static/img/cts-logo-light.png" alt="" width="45" height="57">
      <h1 class="h3 mb-3 fw-normal">${title}</h1>
      <p class="login-box-msg">${msg}</p>

      <div class="form-floating">
        <input type="hidden" name="from_page" value="${from_page}" />
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; CTS | 2023</p>
    </form>
  </main>

<%include file="FOOTER.tmpl"/>
