    <footer class="navbar-default navbar-fixed-bottom">
      <div class="container-fluid text-center footer">
       
        <span>&copy; CTS | 2023</span>
      </div>
    </footer>

    </body>
</html>
